body,
html {
  margin: 0;
}

body {
  background: url("./LocalAssets/cat_repeat.png");
  background-size: 50%;
}

header {
  background: rgb(255, 255, 255);
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: #ffffffd8;
  width: 100%;
  padding: 2%;
}

footer {
  background: rgb(235, 235, 235);
  width: 100%;
  height: 5vh;
}

.ownercard {
  margin: 1%;
  width: 18%;
  box-shadow: 10px 10px 18px;
  font-size: .8rem;
}

.ownercard:hover {
  box-shadow: 10px 10px 10px;
}

.button {
  float: right;
  background: white;
  color: black;
  border: black 1px solid;
  border-radius: 5px;
}

.button:hover {
  background: rgb(255, 255, 255);
  border: none;
}

.button2 {
  border: none;
  padding: .3rem;
}

.modal {
  background: rgba(0, 0, 0, 0.137);
}

.smallFont {
  font-size: .7rem;
}

.imgbg {
  background: rgba(255, 255, 255, 0.596);
  border-radius: 4px;
  margin: 3%;
}